name: Build and push docker image

on:
  workflow_call:
    inputs:
      appVersion:
        required: true
        type: string
      setLatest:
        required: true
        type: boolean

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/JTaeuber/test-app-1
          tags: |
            ${{ inputs.setLatest && 'latest' || '' }}
            ${{ inputs.appVersion }}

      - name: Docker meta app2
        id: meta-app2
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/JTaeuber/test-app-2
          tags: |
            ${{ inputs.setLatest && 'latest' || '' }}
            ${{ inputs.appVersion }}

      - name: Install Cosign
        uses: sigstore/cosign-installer@main
        with:
          cosign-release: "v2.2.0"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        id: build-push
        with:
          context: .
          file: ./build/app1/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}

      - name: Build and push app2
        uses: docker/build-push-action@v6
        id: build-push-app2
        with:
          context: .
          file: ./build/admissioncontroller/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta-app2.outputs.tags }}

      - name: Sign Push
        run: |
          cosign sign --key env://COSIGN_KEY --tlog-upload=false ghcr.io/jtaeuber/test-app-1@${{ steps.build-push.outputs.digest }}
          cosign sign --key env://COSIGN_KEY --tlog-upload=false ghcr.io/jtaeuber/test-app-2@${{ steps.build-push-app2.outputs.digest }}
        env:
          COSIGN_KEY: ${{ secrets.COSIGN_KEY }}

      - name: Tag untagged versions
        uses: jtaeuber/tag-multiarch-images@v0.1.0
        with:
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          gh_user: jtaeuber
          package_name: test-app-1
          tag: ${{ inputs.appVersion }}

      - name: Tag untagged versions for app2
        uses: jtaeuber/tag-multiarch-images@v0.1.0
        with:
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          gh_user: jtaeuber
          package_name: test-app-2
          tag: ${{ inputs.appVersion }}
